#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.frame {
  padding: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input:-webkit-autofill {
  transition: background-color 50000s ease-in-out, color 50000s ease-in-out;
}
